[nodejs]: http://nodejs.org/
[npm]: http://npmjs.org/
[grunt]: http://gruntjs.com/
[getting-started]: http://gruntjs.com/getting-started
[Gruntfile]: http://gruntjs.com/sample-gruntfile
[grunt-template]: http://gruntjs.com/api/grunt.template

[SemVer]: http://semver.org/
[Vandamme]: https://github.com/tech-angels/vandamme
[EditorConfig]: http://editorconfig.org/

[CHANGELOG]: CHANGELOG.md
[LICENSE]: LICENSE-MIT
