<%= partials.header %>
<%= partials.getting_started %>
<%= partials.the_task %>
<%= partials.options %>
<%= partials.examples %>
<%= partials.contributing %>
<%= partials.changelog %>
<%= partials.license %>
<%= partials.links %>
